<% include views/partials//headerfooter/header %>


<H1>¡Hola <%= world %>!</H1>
<form id="login" class="login">
  <button type="button" id="hola" class="btn btn-primary">Aceptar</button>
</form>

<button type="button" class="btn btn-secondary">Secondary</button>
<% include views/partials/headerfooter/footer %>
